@charset "UTF-8";

*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
  }

  .body {
     display: flex;
     flex-flow: column nowrap;
     background-color: #ffffff;
     max-width:1200px
     

    
     
  }

     .header {
    background-color: #000;
     display: flex;
     flex-flow: column nowrap;
}
         .menu{
            background: #27394e;
            display: flex;
            flex-flow: rowrap;

         }
            .logo{
                background: #ea584b;
                flex:1 1 auto;
            }
            .nav{
                background:#ea584b ;
                flex:5 1 auto;
            }
            .social{
                background:#ea584b ;
                flex:1 1 auto;
            }
        .text-principal{
            background: #f0763a;
        }
             h1{
                background: #ffcc5e;
             }
     .section {
    background-color: #000;
    display: flex ;
  }
        .articles{
            background: #44465e;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;

       }
             .article{
            background: #1664a4;
            flex:1  1  40% ;

        }

            .navigation{
                background: #6399bb;
                flex:1 1 100%;
            }

        .aside{
            background: #f94c47;
            flex:1 1 auto;
        }
        
            .publicity{
                background: #ffe380;
            }
     .footer {
    background-color: #000;
  }
          .foot{
             background: #e4a434;
        }

  
        @media all and (max-width: 800px) {
          .section {
            flex-direction:column ;
             background-color: yellow; 
             }
                
            

        }

        @media all and (max-width: 400px) {
            
            .menu {
                flex-direction:column ;
                 background-color: ; 
                 }
            .section {
              flex-direction:column ;
               }
               .articles {
                background-color: #004763;
                }
               
                .article {
                background-color: #558991;
               }
               .navigation {
                background-color: #97d4c5;
               }

               .aside{
                background-color: #ff784c;
               }
                  .publicity {
                  background-color: #ffab64;

                  
          }    

                      
               
              
  
          

ff784c




  