@charset "UTF-8";

*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
  }

  .body {
    
     font-family: 'Krub', sans-serif;
  } 

a{ 
    text-decoration: none; 
  }

     .header {
    background: url(../images/header.jpg);
    background-position: center;
    background-attachment:contain ;
    background-size: cover;
     display: flex;
     flex-flow: column nowrap;
}
         .menu{
            display: flex;
            flex-flow: rowrap;
            height: 70px;
            align-items: center;

         }
            .logo{
                flex:1 1 auto;
                width: px;
                
                
            }
            .logo > a > img{
                width: 100px;
            }
            .nav{
                
                flex:1 1 auto;
            }
                .nav a{
                    color: #808080;
                    font-size: 11px;
                     padding: o 10px;
                     letter-spacing: 2px;

                }
                .nav a:hover{
                    color: #373535;
                }
            .social{
               
                flex:1 1 auto;
                display: flex;
            }
                .social a{
                    color: #808080;
                    font-size: 11px;
                     padding: 0 5px;
            }
                  .social a:hover{
                color: #373535;
           
                 }
        .text-principal{
            background: #f0763a;
        }
             h1{
                background: #ffcc5e;
             }
     .section {
    background-color: #000;
    display: flex ;
  }
        .articles{
            background: #44465e;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;

       }
             .article{
            background: #1664a4;
            flex:1  1  40% ;

        }

            .navigation{
                background: #6399bb;
                flex:1 1 100%;
            }

        .aside{
            background: #f94c47;
            flex:1 1 auto;
        }
        
            .publicity{
                background: #ffe380;
            }
     .footer {
    background-color: #000;
  }
          .foot{
             background: #e4a434;
        }

        /* media queries */
  
        @media (min-width: 768px) and (max-width: 1024px)  {
          .section {
            flex-direction:column ;
             background-color: yellow; 
             }
                
            

        }

        @media (min-width: 320px) and (max-width: 480px) {
            
            .menu {
                flex-direction:column ;
                 background-color: yellow; 
                 }
            .section {
              flex-direction:column ;
               }
                 .articles {
                background-color: #004763;
                }
               
                 .article {
                background-color: #558991;
               }
                 .navigation {
                background-color: #97d4c5;
               }

                 .aside{
                background-color: #ff784c;
               }
                  .publicity {
                  background-color: #ffab64;
                   }
             .foot {
                    background-color: #ffbf60;
                  }
          }   