@charset "UTF-8";

*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
  }

  .body {
    
     font-family: 'Krub', sans-serif;
  } 

a{ 
    text-decoration: none; 
  }

     .header {
    background: url(../images/header.jpg);
    background-position: center;
    background-attachment:contain ;
    background-size: cover;
     display: flex;
     flex-flow: column nowrap;
}
         .menu{
            display: flex;
            flex-flow: rowrap;
            height: 70px;
            align-items: center;

         }
            .logo{
                flex:1 1 auto;
                width: px;
                
                
            }
            .logo > a > img{
                width: 100px;
            }
            .nav{
                
                flex:1 1 auto;
            }
                .nav a{
                    color: #808080;
                    font-size: 11px;
                     padding: o 10px;
                     letter-spacing: 2px;

                }
                .nav a:hover{
                    color: #373535;
                }
            .social{
               
                flex:1 1 auto;
                display: flex;
            }
                .social a{
                    color: #808080;
                    font-size: 11px;
                     padding: 0 5px;
            }
                  .social a:hover{
                color: #373535;
           
                 }
        .text-principal{
            background: rgba(0,0,0, .1);
            align-items:flex-end;
            height: 200px;
        }
             h1{
                text-align:center;
                font-family: 'Playfair Display', serif;
                font-size: 20px;
                font-weight: 300;
                color: #eda58b;
                line-height: 1.8;
                
             }
     .section {
    background-color: #d8d7d7;
    display: flex ;
  }
        .articles{
            
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
       

       }
             .article{
            background: #f5f1f1;
            flex:1  1  40% ;
            font-size: 13px;
            letter-spacing: 1px;
            margin: 10px 10px 0 0 px ;
            flex: 1 1 45%;
            background: #ececec;
            

        }

         .article img{
            width: 100%;
           
        
        
            
         }
         h3{
            color: #e4a434;
            font-size: 13px;
            padding: 18px 0;
            margin-top: -80px;
         }
         h2{
            font-size: 25px;
            text-transform: uppercase;
            padding: 0px  0 10px 0;
            color: #fff;
            background: #f08080;
            
         }

         p{column-count:2;
        }


            .navigation{
                text-align: center;
                flex:1 1 100%;
            }

        .aside{
            text-align:center;
            flex:1 1 auto;
        }
        
            .publicity{
                text-align:center;
            }
     .footer {
    background-color: #d8d7d7;
    text-align:center;
  }
          .foot{
             background: #f5f1f1
             
            
        }

        /* media queries */
  
        @media (min-width: 768px) and (max-width: 1024px)  {
          .section {
            flex-direction:column ;
             background-color: yellow; 
             }
                
            

        }

        @media (min-width: 320px) and (max-width: 480px) {
            
            .menu {
                flex-direction:column ;
                 background-color: yellow; 
                 }
            .section {
              flex-direction:column ;
               }
                 .articles {
                background-color: #004763;
                }
               
                 .article {
                background-color: #558991;
               }
                 .navigation {
                background-color: #97d4c5;
               }

                 .aside{
                background-color: #ff784c;
               }
                  .publicity {
                  background-color: #ffab64;
                   }
             .foot {
                    background-color: #ffbf60;
                  }
          }   